<ul>All Songs
<% @songs.each do |song| %>
  <li>Song title: <%= link_to(song.title, song_path(song.id)) %> | Song Artist: <%= song.artist %> | Duration: <%= song.duration %> | Price <%= song.price %></li>
<% end %>
</ul>
